<footer>
    <section class="section-footer">
        <ul class="footer-logo">
            <li>
                <svg class="logo footer-logo" width="19" height="19">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="contact-list">
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="address-list">
                <p>1678 S. Pioneer Road
                    Salt Lake City
                    UT 84104</p>
            </li>
        </ul>
        <ul class="nav-footer">
            <li>about us</li>
            <li>catalog</li>
            <li>sale</li>
        </ul>
        
        <ul class="social-footer">
            <li>
                <svg>
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
            </li>
        </ul>

        <div>
            <ul>
                <li>©2022 The Watch Spot. All rights reserved.</li>
                <li>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Service</a>
                </li>
            </ul>
        </div>
    </section>
</footer>
