<header>
  <div class="header-logo">
    <div class="nav-logo">
      <div class="logo-container">
        <svg class="logo" width="19" height="19">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span>thewatchspot</span>
      </div>
      <nav class="nav-container">
        <ul class="nav-list">
          <!-- target about us section -->
          <li class=""><a href="#about">about us</a></li>
          <!-- target catalog section -->
          <li class=""><a href="#catalog">catalog</a></li>
          <!-- target sale section -->
          <li class=""><a href="#sale">sale</a></li>
        </ul>
      </nav>
    </div>
    <div class="button">
      <button type="button" class="btn-tel"><a href="tel:+380684439426">+380 (68) 443-94-26</a></button>
    </div>
  </div>
</header>