<section class="hero-section">
    <div class="hero-container">
        <ul class="hero-disc">
            <li>
                <h1>
                    Welcome to our collection of premium watches
                </h1>
            </li>
            <li>
                <p>
                    Our watches are not just timepieces, but also an expression of your personality and lifestyle. From
                    classic designs to modern ones, we have a watch to suit every taste and occasion.
                </p>
            </li>
        </ul>
    
        <ul class="hero-image">
            <li class="hero-slide">
                <img src="./images/slide_1.png" alt="slide images">
            </li>
            <li>
                <img src="./images/hero_image.png" alt="hero_image" width="676" height="394">
            </li>
        </ul>
    </div>
</section>