<section class="hero-section">
    <div class="hero-container">
        <ul class="hero-disc">
            <li>
                <h1>
                    Welcome to our collection of premium watches
                </h1>
            </li>
            <li>
                <p>
                    Our watches are not just timepieces, but also an expression of your personality and lifestyle. From
                    classic designs to modern ones, we have a watch to suit every taste and occasion.
                </p>
            </li>
        </ul>
    
        <!-- Slider -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/slide_1.png" alt="slide images">
                </div>
                <div class="swiper-slide">
                    <img src="./images/slide_2.png" alt="slide images">
                </div>
                <div class="swiper-slide">
                    <img src="./images/slide_3.png" alt="slide images">
                </div>
                <div class="swiper-slide">
                    <img src="./images/slide_4.png" alt="slide images">
                </div>
                <div class="swiper-slide">
                    <img src="./images/slide_5.png" alt="slide images">
                </div>
            </div>
        </div>
        <div class="swiper-buttons">
            <div class="button-prev"></div>
            <div class="button-next"></div>
        </div>

        <ul class="hero-image">
            <li>
                <img src="./images/hero_image.png" alt="hero_image" width="676" height="394">
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            keyboard: {
                enabled: true,
            },
            navigation: {
                nextEl: "button-next",
                prevEl: "button-prev",
            }
        });
    </script>

</section>