<!-- sale section -->
<section class="sale-container">
    <table>
        <tr>
            <th class="sale-text">Sale</th>
        </tr>
        <tr>
            <td>
                <img src="./images/sale_1.jpg" alt="">
            </td>
            <td rowspan="4">
                <img src="./images/sale_5.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="./images/sale_2.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="./images/sale_3.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="./images/sale_4.jpg" alt="">
            </td>
        </tr>
    </table>
    <ul class="classy-text">
        <li>
            <h3 class="classy-title">Greenlane Watch By
                Police For MenHT </h3>
        </li>
        <li>
            <p class="classy-information">Product tag: PEWJK2227003</p>
        </li>
        <li>
            <div>€700</div>
            <div class="classy-strikethrough-text">€1000</div>
        </li>
    </ul>
    <ul>
        <li>
            <p>Description</p>
            <!-- insert minus svg -->
        </li>
        <li>

            <p>Richly detailed with an understated design - the Police Men's Greenlane watch features a versatile
                multifunction design that fits effortlessly into work and play. The steel case is adorned with a
                semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching
                crown and pushers.</p>

            <p class="classy-information">Richly detailed with an understated design - the Police Men’s Greenlane watch
                features a versatile multifunction design that fits effortlessly into work and play. The steel case is
                adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP
                bracelet with matching crown and pushers.</p>

        </li>
    </ul>
    <ul>
        <li>
            <p>DETAILS & FEATURES</p>
            <!-- insert minus svg -->
        </li>
        <li>
            <p class="classy-information">Gender: man
                Size: 46x54.5mm
                Case Colour: Steel
                Band Material: Metal
                Case Material: Metal
                Features: Multifunction
                Water Resistant: 5 (ATM)
                Band Colour: Steel</p>
        </li>
    </ul>
</section>